@import 'partials/reset.scss';
@import 'partials/media.scss';
@import 'partials/mixin.scss';

@include font-face("imago-book", fonts/imago-book, normal, normal);

header{
	width: 100%;
	border-bottom: 1px solid #6f6f6f;

	.logo{
		margin: 0 auto;
		display: table;
	}
	.search-bar{
		margin-top: 15px;
		padding-left: 25px;
		background: url(../images/sprite.png) no-repeat 0 -55px;

		.form-control{
			font-family: 'Roboto', sans-serif;
			@include font-size(13px);
			color: #404040;
			text-transform: uppercase;
			border: none;
			box-shadow: none;
			@include transition(all 100ms ease-in-out);
			border:1px solid transparent;

			&:focus{
				border:1px solid #dcdcdc;
			}
		}

		@include respond-to($phone) {
    		margin-top: 5px;
    		margin-bottom: 10px;
  		}
  		@include respond-to($phone-landscape) {
    		margin-top: 5px;
    		margin-bottom: 10px;
  		}
  		@include respond-to($tablet-portrait) {
    		margin-top: 12px;
    		margin-bottom: 10px;
  		}
  		@include respond-to($tablet-landscape) {
    		margin-top: 12px;
    		margin-bottom: 10px;
  		}
	}
	.my-account{
		float: left;
		margin-top: 20px;

		@include respond-to($phone) {
    		margin-top: 0;
  		}
  		@include respond-to($phone-landscape) {
    		margin-top: 0;
  		}
  		@include respond-to($tablet-portrait) {
    		margin-top: 0;
  		}

		a{
			background: url(../images/sprite.png) no-repeat 0 -35px;
			padding-left:25px;

			.user{
				font-family: 'Roboto', sans-serif;
				@include font-size(13px);
				line-height: 2em;
				color: #404040;
				text-transform: uppercase;
			}
		}
	}
	.shopping-cart{
		position: relative;
		float: left;
		margin-top: 20px;

		@include respond-to($phone) {
    		margin-top: 0;
  		}
  		@include respond-to($phone-landscape) {
    		margin-top: 0;
  		}
  		@include respond-to($tablet-portrait) {
    		margin-top: 0;
  		}

		.quantity{
			width: 20px;
			height: 20px;
			position: absolute;
			font-family: 'imago-book', sans-serif;
			background-color: #ff0000;
			text-align: center;
			@include font-size(12px);
			@include border-radius(50%);
			color: #fff;
			line-height: 1.6em;
			top: -10px;
			right: -15px;
		}
		.cart{
			width: 31px;
			height: 25px;
			float: left;
			text-indent: -9999px;
			background: url(../images/sprite.png) no-repeat 0 0;
		}
	}
}
nav.navbar {
	margin-bottom: 0;
	border: none;
	@include border-radius(0);
	min-height: initial;
}
nav.navbar-inverse {
    background-color: #005c99;
    border-color: none;

    .navbar-nav > li{
    	margin-right: 80px;
    	
	    	&:last-child{
	    		margin-right: 0;
	    	}

	    	a {
			    font-family: 'Roboto', sans-serif;
				@include font-size(16px);
				line-height: 1em;
				color: #fff;
				text-transform: uppercase;
				@include transition(all 150ms ease-in-out);

			&:hover{
				background-color: #fff;
				color: #005c99;
			}
		}

		@include respond-to($tablet-landscape) {
    		margin-right: 40px;
  		}
    }
    .navbar-toggle {
		background-color: #333;
	}
}
main{
	display: block;

	.top-banner{
		background-color: #000;
	}

	.shelves{
		.shelf{
			width: 100%;
			position: relative;
			float: left;
			margin-bottom: 30px;

			h2{
				width: 10em;
				font-family: 'Roboto', sans-serif;
				@include font-size(22px);
				line-height: 2em;
				color: #005c99;
				font-weight: bold;
				text-transform: uppercase;
				margin: 20px 0;
				padding-bottom: 10px;
				border-bottom: 1px solid #005c99;
			}
			ul.best-sellers, ul.releases{

				.slick-slide{
					float: left;
					height: 419px;
					padding: 15px;
					overflow: hidden;
					border:1px solid transparent;
					@include transition(height 150ms ease-in-out);

					&:hover{
						height: 520px;
						border:1px solid #7fadcc;
						cursor: pointer;
						@include border-radius(5px);
					}

					.card{

						a{
							&:hover{
								text-decoration:none;
							}

							figure{
								text-align: center;
							}
							.product-title{
								width: 210px;
								height: 65px;
								margin: 35px auto 15px;
								text-align: center;
								font-family: 'Roboto', sans-serif;
								@include font-size(18px);
								color: #404040;
								display: block;
							}
						}
						.card-price-container{

							.card-text-section{

								.card-price{

									.price-sell{
										width: 100%;
										display: block;
										margin-bottom: 5px;
										font-family: 'Roboto', sans-serif;
										@include font-size(24px);
										color: #005c99;
										text-align: center;
									}
									.installment{
										width: 100%;
										display: block;
										font-family: 'Roboto', sans-serif;
										font-weight: 300;
										@include font-size(18px);
										color: #878787;
										text-align: center;
									}
								}
							}
						}
					}
					.card-shipping{
						margin: 20px auto;
						display: table;
						padding: 5px;
						font-family: 'Roboto', sans-serif;
						@include font-size(12px);
						color: #7cb342;
						text-align: center;
						text-transform: uppercase;
						border: 1px solid #7cb342;
						@include border-radius(5px);

					}
					.card-buy-btn{
						display: block;
						margin: 0 auto;
						background-color: #4caf50;
						padding: 10px 30px;
						font-family: 'Roboto', sans-serif;
						@include font-size(18px);
						color: #fff;
						text-align: center;
						text-transform: uppercase;
						font-weight: 500;
						@include border-radius(5px);

						.icon-card-buy-btn{
							width: 20px;
							height: 16px;
							display: inline-block;
							left: 12px;
							position: relative;
							background: url(../images/sprite.png) no-repeat 0 -168px;
						}
					}
				}
				.slick-list{
					position: relative;
					display: block;
					overflow: hidden;
					margin: 0;
					padding: 0;
				}
				.slick-dots {
					display: flex !important;
					justify-content: center;
					align-items: center;
					width: 100%;
					padding: 0;
					margin: 20px 0 0;
					list-style: none;
					text-align: center;

				    li {
				    	position: relative;
						display: inline-block;
						margin: 0 5px;
						padding: 0;
						cursor: pointer;

					    button {
						    font-size: 0;
						    line-height: 0;
						    width: 10px;
						    height: 10px;
						    padding: 5px;
						    cursor: pointer;
						    color: transparent;
						    border: 0;
						    display: block;
						    outline: none;
						    background: #fff;
						    border:1px solid #005c99;
						    @include border-radius(50%);
						}
						&.slick-active button{
								width: 15px;
								height: 15px;
								background: #005c99;
						}
					}
				}
			}
		}
	}
}

footer{
	background-color: #f4f4f4;

	nav{
		margin-top: 80px;

		figure{
			width: 181px;
			display: inline-grid;

			@include respond-to($phone) {
		    	width: 128px;
  			}
  			@include respond-to($phone-landscape) {
				width: 200px;
			}

			figcaption{
				font-family: 'Roboto', sans-serif;
				@include font-size(18px);
				line-height: 2em;
				font-weight: bold;
				color: #404040;
			}
			ol{

				li{
					font-family: 'Roboto', sans-serif;
					@include font-size(16px);
					line-height: 2em;
					display: grid;

					a{
						color: #404040;

					}
					span{
						float: left;
						font-family: 'imago-book', sans-serif;
						@include font-size(16px);
					}
					strong{
						float: left;
						clear: left;
						font-family: 'Roboto', sans-serif;
						@include font-size(20px);
					}
					&[class^="icon-"]{
						float: left;

						a{
							width: 32px;
							height: 31px;
							float: left;
							margin: 0 5px;
							text-indent: -9999px;
							background-image: url(../images/sprite.png);
							background-repeat: no-repeat;
							@include transition(all 150ms ease-in-out);
						}
					}
					&.icon-facebook{
						a{
							background-position: 0 -93px;

							&:hover{
								background-position: 0 -124px;

							}
						}
					}
					&.icon-instagram{
						a{
							background-position: -45px -93px;

							&:hover{
								background-position: -45px -124px;

							}
						}
					}
					&.icon-youtube{
						a{
							background-position: -88px -93px;

							&:hover{
								background-position: -88px -124px;

							}
						}
					}
				}
			}
		}
	}
	.form-payment{
		width: 422px;
		float: left;
		margin: 50px 0 0 142px;

		@include respond-to($phone) {
	    	width: 220px;
	    	margin: 0;
		}
		@include respond-to($phone-landscape) {
			width: 220px;
			margin: 0;
		}
		@include respond-to($tablet-portrait) {
			width: 220px;
			margin: 0;
		}

		> span{
			float: left;
			font-family: 'imago-book', sans-serif;
			@include font-size(18px);
			color: #404040;
			margin: 5px 20px 0 0;

			@include respond-to($phone) {
				margin: 20px 20px 10px 0;
			}
			@include respond-to($phone-landscape) {
				margin: 20px 20px 10px 0;
			}
		}
		ul{
			li{
				float: left;

				span{
					width: 50px;
					height: 30px;
					float: left;
					margin-right: 5px;
					text-indent: -9999px;
					background-image: url(../images/sprite.png);
					background-repeat: no-repeat;
				}
				&:nth-child(1) span{
					background-position: 0 -194px;
				}
				&:nth-child(2) span{
					background-position: -60px -194px;
				}
				&:nth-child(3) span{
					background-position: -120px -194px;
				}
				&:nth-child(4) span{
					background-position: -180px -194px;
				}
			}
		}
	}
	.security{
		width: 400px;
		float: left;
		margin: 50px 0 0 50px;

		@include respond-to($phone) {
	    	width: 220px;
	    	margin: 0;
		}
		@include respond-to($phone-landscape) {
			width: 220px;
			margin: 0;
		}

		> span{
			float: left;
			font-family: 'Roboto', sans-serif;
			@include font-size(18px);
			color: #404040;
			margin: 5px 25px 0 0;

			@include respond-to($phone) {
				margin: 20px 25px 35px 0;
			}
			@include respond-to($phone-landscape) {
				margin: 20px 25px 35px 0;
			}
		}
		ul{
			li{
				float: left;

				span{
					float: left;
					text-indent: -9999px;
					margin-right: 25px;
					background-image: url(../images/sprite.png);
					background-repeat: no-repeat;
				}
				&:nth-child(1) span{
					width: 97px;
					height: 65px;
					position: relative;
					top: -20px;
					background-position: 0 -244px;
				}
				&:nth-child(2) span{
					width: 138px;
					height: 37px;
					background-position: 0 -320px;
				}
			}
		}
	}
}
