/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "imago-book";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/imago-book.eot?") format("eot"), url("fonts/imago-book.woff2") format("woff2"), url("fonts/imago-book.woff") format("woff"), url("fonts/imago-book.ttf") format("truetype"), url("fonts/imago-book.svg#imago-book") format("svg"); }

header {
  width: 100%;
  border-bottom: 1px solid #6f6f6f; }
  header .logo {
    margin: 0 auto;
    display: table; }
  header .search-bar {
    margin-top: 15px;
    padding-left: 25px;
    background: url(../images/sprite.png) no-repeat 0 -55px; }
    header .search-bar .form-control {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-size: 0.8125rem;
      color: #404040;
      text-transform: uppercase;
      border: none;
      box-shadow: none;
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      border: 1px solid transparent; }
      header .search-bar .form-control:focus {
        border: 1px solid #dcdcdc; }
    @media only screen and (max-width: 320px) {
      header .search-bar {
        margin-top: 5px;
        margin-bottom: 10px; } }
    @media only screen and (min-width: 321px) and (max-width: 480px) {
      header .search-bar {
        margin-top: 5px;
        margin-bottom: 10px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      header .search-bar {
        margin-top: 12px;
        margin-bottom: 10px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      header .search-bar {
        margin-top: 12px;
        margin-bottom: 10px; } }
  header .my-account {
    float: left;
    margin-top: 20px; }
    @media only screen and (max-width: 320px) {
      header .my-account {
        margin-top: 0; } }
    @media only screen and (min-width: 321px) and (max-width: 480px) {
      header .my-account {
        margin-top: 0; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      header .my-account {
        margin-top: 0; } }
    header .my-account a {
      background: url(../images/sprite.png) no-repeat 0 -35px;
      padding-left: 25px; }
      header .my-account a .user {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-size: 0.8125rem;
        line-height: 2em;
        color: #404040;
        text-transform: uppercase; }
  header .shopping-cart {
    position: relative;
    float: left;
    margin-top: 20px; }
    @media only screen and (max-width: 320px) {
      header .shopping-cart {
        margin-top: 0; } }
    @media only screen and (min-width: 321px) and (max-width: 480px) {
      header .shopping-cart {
        margin-top: 0; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      header .shopping-cart {
        margin-top: 0; } }
    header .shopping-cart .quantity {
      width: 20px;
      height: 20px;
      position: absolute;
      font-family: 'imago-book', sans-serif;
      background-color: #ff0000;
      text-align: center;
      font-size: 12px;
      font-size: 0.75rem;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      color: #fff;
      line-height: 1.6em;
      top: -10px;
      right: -15px; }
    header .shopping-cart .cart {
      width: 31px;
      height: 25px;
      float: left;
      text-indent: -9999px;
      background: url(../images/sprite.png) no-repeat 0 0; }

nav.navbar {
  margin-bottom: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  min-height: initial; }

nav.navbar-inverse {
  background-color: #005c99;
  border-color: none; }
  nav.navbar-inverse .navbar-nav > li {
    margin-right: 80px; }
    nav.navbar-inverse .navbar-nav > li:last-child {
      margin-right: 0; }
    nav.navbar-inverse .navbar-nav > li a {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-size: 1rem;
      line-height: 1em;
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: all 150ms ease-in-out;
      -moz-transition: all 150ms ease-in-out;
      -o-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out; }
      nav.navbar-inverse .navbar-nav > li a:hover {
        background-color: #fff;
        color: #005c99; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      nav.navbar-inverse .navbar-nav > li {
        margin-right: 40px; } }
  nav.navbar-inverse .navbar-toggle {
    background-color: #333; }

main {
  display: block; }
  main .top-banner {
    background-color: #000; }
  main .shelves .shelf {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 30px; }
    main .shelves .shelf h2 {
      width: 10em;
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 2em;
      color: #005c99;
      font-weight: bold;
      text-transform: uppercase;
      margin: 20px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #005c99; }
    main .shelves .shelf ul.best-sellers .slick-slide, main .shelves .shelf ul.releases .slick-slide {
      float: left;
      height: 419px;
      padding: 15px;
      overflow: hidden;
      border: 1px solid transparent;
      -webkit-transition: height 150ms ease-in-out;
      -moz-transition: height 150ms ease-in-out;
      -o-transition: height 150ms ease-in-out;
      transition: height 150ms ease-in-out; }
      main .shelves .shelf ul.best-sellers .slick-slide:hover, main .shelves .shelf ul.releases .slick-slide:hover {
        height: 520px;
        border: 1px solid #7fadcc;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
      main .shelves .shelf ul.best-sellers .slick-slide .card a:hover, main .shelves .shelf ul.releases .slick-slide .card a:hover {
        text-decoration: none; }
      main .shelves .shelf ul.best-sellers .slick-slide .card a figure, main .shelves .shelf ul.releases .slick-slide .card a figure {
        text-align: center; }
      main .shelves .shelf ul.best-sellers .slick-slide .card a .product-title, main .shelves .shelf ul.releases .slick-slide .card a .product-title {
        width: 210px;
        height: 65px;
        margin: 35px auto 15px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-size: 1.125rem;
        color: #404040;
        display: block; }
      main .shelves .shelf ul.best-sellers .slick-slide .card .card-price-container .card-text-section .card-price .price-sell, main .shelves .shelf ul.releases .slick-slide .card .card-price-container .card-text-section .card-price .price-sell {
        width: 100%;
        display: block;
        margin-bottom: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-size: 1.5rem;
        color: #005c99;
        text-align: center; }
      main .shelves .shelf ul.best-sellers .slick-slide .card .card-price-container .card-text-section .card-price .installment, main .shelves .shelf ul.releases .slick-slide .card .card-price-container .card-text-section .card-price .installment {
        width: 100%;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 18px;
        font-size: 1.125rem;
        color: #878787;
        text-align: center; }
      main .shelves .shelf ul.best-sellers .slick-slide .card-shipping, main .shelves .shelf ul.releases .slick-slide .card-shipping {
        margin: 20px auto;
        display: table;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-size: 0.75rem;
        color: #7cb342;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #7cb342;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
      main .shelves .shelf ul.best-sellers .slick-slide .card-buy-btn, main .shelves .shelf ul.releases .slick-slide .card-buy-btn {
        display: block;
        margin: 0 auto;
        background-color: #4caf50;
        padding: 10px 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-size: 1.125rem;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
        main .shelves .shelf ul.best-sellers .slick-slide .card-buy-btn .icon-card-buy-btn, main .shelves .shelf ul.releases .slick-slide .card-buy-btn .icon-card-buy-btn {
          width: 20px;
          height: 16px;
          display: inline-block;
          left: 12px;
          position: relative;
          background: url(../images/sprite.png) no-repeat 0 -168px; }
    main .shelves .shelf ul.best-sellers .slick-list, main .shelves .shelf ul.releases .slick-list {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0; }
    main .shelves .shelf ul.best-sellers .slick-dots, main .shelves .shelf ul.releases .slick-dots {
      display: flex !important;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 20px 0 0;
      list-style: none;
      text-align: center; }
      main .shelves .shelf ul.best-sellers .slick-dots li, main .shelves .shelf ul.releases .slick-dots li {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        cursor: pointer; }
        main .shelves .shelf ul.best-sellers .slick-dots li button, main .shelves .shelf ul.releases .slick-dots li button {
          font-size: 0;
          line-height: 0;
          width: 10px;
          height: 10px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          display: block;
          outline: none;
          background: #fff;
          border: 1px solid #005c99;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
        main .shelves .shelf ul.best-sellers .slick-dots li.slick-active button, main .shelves .shelf ul.releases .slick-dots li.slick-active button {
          width: 15px;
          height: 15px;
          background: #005c99; }

footer {
  background-color: #f4f4f4; }
  footer nav {
    margin-top: 80px; }
    footer nav figure {
      width: 181px;
      display: inline-grid; }
      @media only screen and (max-width: 320px) {
        footer nav figure {
          width: 128px; } }
      @media only screen and (min-width: 321px) and (max-width: 480px) {
        footer nav figure {
          width: 200px; } }
      footer nav figure figcaption {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 2em;
        font-weight: bold;
        color: #404040; }
      footer nav figure ol li {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-size: 1rem;
        line-height: 2em;
        display: grid; }
        footer nav figure ol li a {
          color: #404040; }
        footer nav figure ol li span {
          float: left;
          font-family: 'imago-book', sans-serif;
          font-size: 16px;
          font-size: 1rem; }
        footer nav figure ol li strong {
          float: left;
          clear: left;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-size: 1.25rem; }
        footer nav figure ol li[class^="icon-"] {
          float: left; }
          footer nav figure ol li[class^="icon-"] a {
            width: 32px;
            height: 31px;
            float: left;
            margin: 0 5px;
            text-indent: -9999px;
            background-image: url(../images/sprite.png);
            background-repeat: no-repeat;
            -webkit-transition: all 150ms ease-in-out;
            -moz-transition: all 150ms ease-in-out;
            -o-transition: all 150ms ease-in-out;
            transition: all 150ms ease-in-out; }
        footer nav figure ol li.icon-facebook a {
          background-position: 0 -93px; }
          footer nav figure ol li.icon-facebook a:hover {
            background-position: 0 -124px; }
        footer nav figure ol li.icon-instagram a {
          background-position: -45px -93px; }
          footer nav figure ol li.icon-instagram a:hover {
            background-position: -45px -124px; }
        footer nav figure ol li.icon-youtube a {
          background-position: -88px -93px; }
          footer nav figure ol li.icon-youtube a:hover {
            background-position: -88px -124px; }
  footer .form-payment {
    width: 422px;
    float: left;
    margin: 50px 0 0 142px; }
    @media only screen and (max-width: 320px) {
      footer .form-payment {
        width: 220px;
        margin: 0; } }
    @media only screen and (min-width: 321px) and (max-width: 480px) {
      footer .form-payment {
        width: 220px;
        margin: 0; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      footer .form-payment {
        width: 220px;
        margin: 0; } }
    footer .form-payment > span {
      float: left;
      font-family: 'imago-book', sans-serif;
      font-size: 18px;
      font-size: 1.125rem;
      color: #404040;
      margin: 5px 20px 0 0; }
      @media only screen and (max-width: 320px) {
        footer .form-payment > span {
          margin: 20px 20px 10px 0; } }
      @media only screen and (min-width: 321px) and (max-width: 480px) {
        footer .form-payment > span {
          margin: 20px 20px 10px 0; } }
    footer .form-payment ul li {
      float: left; }
      footer .form-payment ul li span {
        width: 50px;
        height: 30px;
        float: left;
        margin-right: 5px;
        text-indent: -9999px;
        background-image: url(../images/sprite.png);
        background-repeat: no-repeat; }
      footer .form-payment ul li:nth-child(1) span {
        background-position: 0 -194px; }
      footer .form-payment ul li:nth-child(2) span {
        background-position: -60px -194px; }
      footer .form-payment ul li:nth-child(3) span {
        background-position: -120px -194px; }
      footer .form-payment ul li:nth-child(4) span {
        background-position: -180px -194px; }
  footer .security {
    width: 400px;
    float: left;
    margin: 50px 0 0 50px; }
    @media only screen and (max-width: 320px) {
      footer .security {
        width: 220px;
        margin: 0; } }
    @media only screen and (min-width: 321px) and (max-width: 480px) {
      footer .security {
        width: 220px;
        margin: 0; } }
    footer .security > span {
      float: left;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-size: 1.125rem;
      color: #404040;
      margin: 5px 25px 0 0; }
      @media only screen and (max-width: 320px) {
        footer .security > span {
          margin: 20px 25px 35px 0; } }
      @media only screen and (min-width: 321px) and (max-width: 480px) {
        footer .security > span {
          margin: 20px 25px 35px 0; } }
    footer .security ul li {
      float: left; }
      footer .security ul li span {
        float: left;
        text-indent: -9999px;
        margin-right: 25px;
        background-image: url(../images/sprite.png);
        background-repeat: no-repeat; }
      footer .security ul li:nth-child(1) span {
        width: 97px;
        height: 65px;
        position: relative;
        top: -20px;
        background-position: 0 -244px; }
      footer .security ul li:nth-child(2) span {
        width: 138px;
        height: 37px;
        background-position: 0 -320px; }
